{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-12 container-fluid home-cover bg-succes">
  <div class="text-center col-12 col-md-8 cover-overlay pl-3 pr-3 pb-3">
    <div class="cover-text">
      <h1 class="d-none d-lg-block">Wines With Fortune</h1>
      <h2 class="d-none d-md-block d-lg-none">Wines With Fortune</h2>
      <h3 class="d-md-none">Wines With Fortune</h3>
    </div>
      <br>
      <div class="cover-text">
        <h4 class="d-none d-lg-block">Discover our selection of fine wines and sparkling drinks</h4>
        <h5 class="d-none d-md-block d-lg-none">Discover our selection of fine wines and sparkling drinks</h5>
        <h6 class="d-md-none">Discover our selection of fine wines and sparkling drinks</h6>
      </div>
      <br>
      <button class="button purple-btn wiggle-btn mx-auto" onclick='location.href="{% url 'products' %}";'>
        Shop our products
      </button>      
  </div>
</div>
<!-- DUBLIN SHOP INFO CONTAINER -->
<div class="bg-purple text-white">
  <div class="main-container col-lg-11 mx-auto pt-4 pb-4 ">
    <h4 class="mb-4 text-center decorated col-11 col-md-4 mx-auto"><span>Dublin Shop</span></h4>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
          <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
              <div class="d-lg-flex justify-content-between text-center mx-auto home-container">
                <div class="col-12 col-md-10 col-lg-5 p-0 mb-3 mx-auto m-lg-0">
                  <img class="img-fluid img-shadow" src="{{ MEDIA_URL }}wine-shop.webp" alt="Wine shop image">
                </div>
                <div class="col-12 col-lg-6 p-0 text-left">
                  <p>
                    At The Guilty Grape, we import, distribute and make natural wine.
                     We have a wide and diverse selection of fine wines from different regions.
                     Our categories include <strong>Red</strong>, <strong>White</strong>,
                      <strong>Rose</strong> and <strong>Sparkling selection of drinks.</strong>
                    </p>
                    <p>We invite you to register and shop on our online site to take advantage of our discounts.
                       We also welcome you to our Dublin store for a unique <strong>wine-tasting</strong> experience.</p>
                       <div class="col-12 p-0 d-flex flex-column flex-sm-row justify-content-between align-items-md-end">
                          <p><i class="fas fa-map-marker-alt"></i> Location:</p>
                          <p><em>Middle Abbey St, Dublin 1, Ireland</em> </p>
                       </div>
                       <div class="col-12 p-0 d-flex flex-column flex-sm-row  justify-content-between align-items-md-end">
                        <p><i class="fas fa-address-book"></i> Contact Email:</p>
                        <p><em>the-guilty-grape@yahoo.com</em> </p>
                     </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
