{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-container col-lg-11 mx-auto pt-3 pb-3 mt-2 mt-lg-4 mb-4 bg-white">
    <h1 class="mb-3 mb-lg-4 text-center">Checkout</h1>
    <div class="pt-lg-3">
        <div class="col-12 mb-4 mb-lg-3">
            <div class="col-12 p-0 mx-auto">
                <div class="d-flex flex-column-reverse justify-content-between align-items-center align-items-lg-start flex-lg-row">
                    {% if bag_items %}
                        <div class="col-md-10 col-lg-6">
                            <h6 class="mb-3"><b>Fill out the details to finish your order</b></h6>
                            <!-- ADD ORDER FORM FIELDS -->
                            <form method="POST" action="{% url 'checkout' %}" enctype="multipart/form-data" id="payment-form">
                                {% csrf_token %}
                                <fieldset class="rounded mb-4">
                                    <legend class="fieldset-label pl-2 small"><b>Personal Details</b></legend>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Full name</span>
                                            {{ order_form.full_name  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Email</span>
                                            {{ order_form.email  }}
                                        </label>
                                    </div>                                    
                                </fieldset>
                                <fieldset class="rounded mb-4">
                                    <legend class="fieldset-label pl-2 small"><b>Delivery</b></legend>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Phone number</span>
                                            {{ order_form.phone_number  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Country</span>
                                            {{ order_form.country  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>County</span>
                                            {{ order_form.county  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Town or City</span>
                                            {{ order_form.town_or_city  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Street Aaddress 1</span>
                                            {{ order_form.street_address1  }}
                                        </label>
                                    </div>
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Street Address 2</span>
                                            {{ order_form.street_address2  }}
                                        </label>
                                    </div>                                    
                                    <div class="w-100 mb-2">
                                        <label class="w-100">
                                            <span hidden>Postcode</span>
                                            {{ order_form.postcode  }}
                                        </label>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="d-flex">
                                        <input class="mr-2 ml-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                        <label class="mb-0" for="id-save-info">Save delivery details to my profile</label>
                                    </div>
                                    {% else %}
                                    <p>
                                        <a class="auth-link pulse" href="{% url 'account_login' %}">Login</a> / 
                                        <a class="auth-link pulse" href="{% url 'account_signup' %}">Register</a> 
                                        to save your delivery details 
                                    </p>
                                    {% endif %}
                                </fieldset>
                                <fieldset>
                                    <legend class="fieldset-label pl-2 small"><b>Payment</b></legend>
                                    <!-- STRIPE CARD -->
                                    <div class="mb-3" id="card-element"></div>
                                    <!-- CARD ERRORS -->
                                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                    <!-- PASS THE CLIENT SECRET TO THE VIEW FOR GETTING THE PAYMENT INTENT-->
                                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                </fieldset>
                                <!-- CARD CHARGING AMOUNT -->
                                <p class="my-0 mb-4">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                                <!-- BACK TO BAG BUTTON -->
                                <div class="col-12 col-xl-8 p-0 d-flex flex-column align-items-center flex-lg-row mx-auto justify-content-around">
                                    <button type="submit" class="button purple-btn small-btn rounded-0 mb-3 mb-lg-0">Complete order</button>
                                    <a class="button gray-btn small-btn rounded-0" href="{% url 'bag' %}">Back to bag</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-10 col-lg-6 mb-4 mb-lg-0">
                            <h6 class="mb-3"><b>Order Summary</b></h6>
                            <!-- OLIST OF ORDER PRODUCTS -->
                            <div class="border p-3 p-lg-2 mb-2 scroll-h">
                                <table>
                                    <tr>
                                        <th class="col-1 pl-1 pb-2 text-center text-muted font-size-smaller">Quantity</th>
                                        <th class="col-9 p-0 pb-2 text-center text-muted font-size-smaller">Item</th>
                                        <th class="col-2 p-0 pb-2 text-center text-muted font-size-smaller">Price</th>
                                    </tr>
                                    {% for item in bag_items %}
                                        <tr class="border-bottom">
                                            <td class="col-1 pl-1 pb-3 pb-lg-2 text-center text-muted">
                                                <p class="m-0 font-size-larger">{{item.quantity}} x </p>
                                            </td>
                                            <td class="col-9 p-0 pb-3 pb-lg-2 pr-1 pr-lg-0 text-left text-muted">
                                                <div class="d-flex align-items-center">
                                                    {% if item.product.image %}
                                                        <img class="d-none d-md-block col-2 p-0 img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                                    {% else %}
                                                        <img class="d-none d-md-block col-2 p-0 img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
                                                    {% endif %}
                                                    <p class="d-none d-lg-block col-10 m-0 font-size-smaller"><b>{{item.product.name}}</b></p>
                                                    <p class="d-lg-none p-0 m-0"><b>{{item.product.name}}</b></p>
                                                </div>
                                            </td>
                                            <td class="col-2 p-0 pb-3 pb-lg-2 text-center text-muted">
                                                <p class="m-0">€{{item.subtotal}}</p>
                                            </td>
                                        </tr>                                
                                    {% endfor %}
                                </table>   
                            </div>
                            <!-- ORDER COST DETAILS -->
                            <div class="d-flex justify-content-end">
                                <div class="col-12 col-md-6 col-lg-8 col-xl-6 p-0 text-muted">
                                    <div class="w-100 d-flex justify-content-between">
                                        <span>Sub Total:</span>
                                        <span><b>€{{ total|floatformat:2 }}</b></span>
                                    </div>
                                    <div class="w-100 d-flex justify-content-between">
                                        <span>Discount:</span>
                                        <span><b>- €</b></span>
                                    </div>
                                    <div class="w-100 d-flex justify-content-between">
                                        <span>Delivery:</span>
                                        <span><b>€{{ delivery|floatformat:2 }}</b></span>
                                    </div>
                                    {% if free_delivery_delta > 0 %}
                                    <div class="w-100 d-flex justify-content-between text-white bg-dark font-size-smaller p-1 mt-1">
                                        <span>Free delivery:</span>
                                        <span>+ €{{ free_delivery_delta|floatformat:2 }}</span>
                                    </div>
                                    {% endif %}
                                    <hr>
                                    <div class="w-100 d-flex justify-content-between">
                                        <span class="font-size-larger"><b>Total</b></span>
                                        <span><b>€{{ grand_total|floatformat:2 }}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- ADD INFO MESSAGE FOR BAG EMPTY CASE-->
                        <div class="d-flex flex-column align-items-center">
                            <p class="mb-4 text-center"><b>Checkout cannot be completed because there are no items in the shopping bag.</b></p>
                            <a href="{% url 'products' %}" class="button gray-btn small-btn rounded-0"><i class="fas fa-chevron-left font-size-smaller"></i> Continue shopping</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING SPINNER -->
<div id="loading-overlay">
    <div class="loading-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- SECRET KEYS -->
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
{% endblock %}