@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alice&family=Yesteryear&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Alice', serif;
    scroll-behavior: smooth;
    color: #3a3a3a;
}

/* HOVER CLASSES */
.hover-underline:hover {
    text-decoration: underline;
}

/* SCROLL CLASSES */
.scroll-h {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
}

/* WIDTH CLASSES */
.wh-fit-content {
    width: fit-content;
}

/* FONT SIZE CLASSES */
.font-size-smaller {
    font-size: smaller;
}

.font-size-small {
    font-size: small;
}

.font-size-medium {
    font-size: medium;
}

.font-size-larger {
    font-size: larger;
}

/* COLORS CLASSES */
.text-yellow,
.text-yellow:hover {
    color: #ffc107;
}

.text-red,
.text-red:hover {
    color: #ff4456;
}

.text-purple,
.text-purple:hover {
    color: #590243;
}

.bg-gray {
    background-color: #f0f0f0;
}

.bg-black {
    background-color: black;
}

/* PADDING ON LATERAL SIDES CLASS */
.p-side {
    padding: 0 45px;
}

/* BACKGROUND CLASSES */
.bg-floral {
    background-color: floralwhite;
}

/* BOX-SHADOW CLASSES */
.card-shadow {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* BORDER CLASSES */
.b-light-gray {
    border: 1px solid #80808085;
}

.min-vh {
    min-height: 100vh;
}

input:not([type=checkbox]),
textarea, select {
    font-family: sans-serif;
    border: none;
    width: 100%;
}

input:focus,
textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 1px 3px 0 #cfd7df;
}

header {
    position: fixed;
    background-color: #590243;
    width: 100%;
    z-index: 1024;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

/* FOOTER STYLING */
footer {
    background-color: #590243;
}

footer i {
    color: floralwhite;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

footer i:hover {
    border: 2px solid #fffaf08a;
}

footer .success-message {
    color: #79f37f;
    font-size: smaller;
    font-weight: bold;
}

footer .errorlist {
    color: #ff4456;
    margin-top: 0;
}

footer>div>div>div:nth-child(1) form p {
    text-align: left;
    margin-bottom: 10px;
}

footer>div>div>div:nth-child(1) form p input {
    width: 100%;
}

footer>div>div>div:nth-child(1) form p label::before {
    content: "*";
    color: #ff4456;
}

footer>div>div>div:nth-child(1) form .messages {
    height: 20px;
}

/* ICON STYLING */
i {
    font-size: 20px;
}

i:focus,
i:focus-visible {
    outline: none;
    outline-offset: 0px;
}

a,
a:hover {
    color: inherit;
}

a:focus,
a:focus-visible {
    outline: none;
    outline-offset: 0px;
}

h1 {
    font-weight: bold;
}

.form-control:focus {
    border: initial;
    border-color: unset;
    box-shadow: none;
}

/* FORM ERRORS STYLING */
.errorlist {
    font-size: smaller;
    font-weight: bold;
    list-style-type: none;
    color: #bd2130;
    padding-left: 0px;
    margin-top: -12px;
}

/* ------------BUTTON CLASSES------- */
.button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-out;
}

.button a:hover {
    color: inherit;
}

.purple-btn {
    background-color: #590243;
    border: 1px solid #590243;
    box-shadow: rgb(255 255 255 / 12%) 0px 2px 4px 0px, #ffffff 0px 1px 17px 0px;
    color: white;
    transition: all 0.2s ease-out;
}

.purple-btn a {
    color: white;
}

.purple-btn:hover {
    background-color: #3a012c;
}

.green-btn {
    background-color: #0e8814;
}

.white-btn {
    background-color: white;
    border: 1px solid gray;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: #3a3a3a;
    transition: all 0.2s ease-out;
}

.white-btn a {
    color: #3a3a3a;
}

.white-btn:hover {
    background-color: gray;
    color: white;
}

.gray-btn {
    background-color: #e9ecef;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: 1px solid #bebebe;
    color: #3a3a3a;

}

.gray-btn:hover {
    background-color: #d6d6d6;
}

.small-btn {
    padding: 5px 10px;
    font-size: smaller;
}

/* Wiggle button class and animation */
.wiggle-btn {
    backface-visibility: hidden;
    transform: translateZ(0px);
    animation-duration: 5s;
    animation-name: wiggle;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    2% {
        transform: translateX(3px) rotate(2deg);
    }

    4% {
        transform: translateX(-3px) rotate(-2deg);
    }

    6% {
        transform: translateX(3px) rotate(2deg);
    }

    8% {
        transform: translateX(-3px) rotate(-2deg);
    }

    10% {
        transform: translateX(2px) rotate(1deg);
    }

    12% {
        transform: translateX(-2px) rotate(-1deg);
    }

    14% {
        transform: translateX(2px) rotate(1deg);
    }

    16% {
        transform: translateX(-2px) rotate(-1deg);
    }

    18% {
        transform: translateX(1px) rotate(0deg);
    }

    20% {
        transform: translateX(-1px) rotate(0deg);
    }
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------------------- HEADER STYLING ------------------------------------------- */

.logo {
    font-family: 'Yesteryear', cursive;
}

.logo h4 {
    color: white;
    margin-bottom: 0;
}

.navbar ul {
    margin: 0;
    padding-right: 15px;
}

.navbar ul li {
    list-style: none;
}

.nav-item i {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 0.2s ease-out;
}

.nav-item i:hover {
    border: 2px solid #ffffff8a;
}

.nav-item:focus,
.nav-item:focus-visible {
    outline: none;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-item {
    color: #3a3a3a;
}

.dropdown-item:hover {
    background-color: #ac96a98a;
    color: black;
}


/* ADD-CONTAINER STYLING */
.add-container {
    font-weight: bold;
    position: relative;
    height: 25px;
    background-color: floralwhite;
}

.add-container span {
    background: black;
    padding: 0px 3px 1px 3px;
    color: wheat;
}

.add-container .add {
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 6s autoplay infinite;
}

.add-container .add:nth-child(1) {
    animation-delay: 0s;
}

.add-container .add:nth-child(2) {
    animation-delay: 3s;
}

@keyframes autoplay {
    0% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }
}

/* CATEGORIES NAVBAR STYLING */
.categories .dropdown-menu {
    right: auto;
    left: 0;
}

.categories a {
    color: white;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-out;
}

.categories a:hover {
    color: white;
    border-bottom: 2px solid #e8d7e6d4;
}

.categories .dropdown-menu a {
    color: inherit;
}

.navbar {
    padding: 0.5rem 0;
}

.navbar-collapse {
    flex-direction: column-reverse;
}

/* SEARCH BAR STYLING */
.search-bar .form-control {
    height: 30px;
}

.search-bar label {
    width: inherit;
}

.search-bar .btn {
    background-color: #b4b3b5;
    border: 1px solid #b4b3b5;
    padding: 0;
    width: 35px;
    margin-left: -5px;
}

.search-bar .btn:hover {
    background-color: #a4a4a4;
    border: 1px solid #a4a4a4
}

.search-bar i {
    margin-top: 4px;
}

.search-bar .dropdown {
    position: initial;
}

.search-bar .dropdown-menu {
    padding: 0px 28px 10px 28px;
    width: 100%;
    position: absolute;
    top: 90%;
    background-color: #590243;
    border-radius: 0%;
}

/* HOME COVER STYLING */
.home-cover {
    background: url('../../media/home_cover.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: right top;
    height: 90vh;
    position: relative;
}

.cover-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.overlay-content {
    width: fit-content;
    padding: 20px;
}

.cover-text {
    width: fit-content;
    margin: 0 auto;
    background-color: #000000ab;
    padding: 0px 10px;
    border-radius: 25px;
}

/* STYLING FOR ALLAUTH CONTENT */
.auth-content>div>div:nth-child(1) {
    border-right: 1px solid #e0d9d9;
}

.auth-content form p:nth-child(2),
.auth-content form p:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-content form p input {
    width: 100%;
}

#id_remember {
    width: auto;
}

.auth-content button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.login-content form p:nth-child(4) input {
    width: auto;
}

.auth-content .login a {
    color: #3a012c;
}

.auth-content .login a:hover {
    text-decoration: underline;
}

.auth-link {
    font-weight: bold;
    color: #590243;
    text-transform: uppercase;
}

.auth-link:hover {
    color: #3a012c;
    text-decoration: underline;
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(79 12 41 / 70%);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(237, 233, 215, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(248, 222, 178, 0);
    }
}

/* MODAL STYLING */
.modal-content {
    border: 2px solid white;
}

.modal-header {
    background-color: #590243;
    color: white;
    padding: 8px 16px;
}

.modal-footer {
    padding: 8px 16px;
}

.modal-close {
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0;
}

.modal-close span:hover {
    color: #d0cbcb;
}

.modal-body form {
    padding: 20px;
}

.modal form input:not([type=checkbox]),
select,
input:not([type=checkbox]) {
    width: 100%;
    border: 1px solid #ced4da;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
    color: #3a3a3a;
    font-size: .875rem;
}

.custom-control label:hover {
    cursor: pointer;
}

/* MAILCHIMP NEWSLETTER */
#mc_embed_signup {
    background: transparent;
    clear: left;
}

#mc_embed_signup .helper_text {
    background-color: transparent;
}

/* PRODUCTS DISPLAY STYLING */
.product-container {
    padding: 15px;
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.product-container h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.product-container p:last-child {
    font-size: larger;
}

.product-count:not(.bag-count) button,
.product-product-count:not(.bag-count) input {
    border: 1px solid grey;
    color: #3a3a3a;
}

.product-count input {
    width: inherit;
    height: 100%;
}

.product-count input:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
.product-count input::-webkit-outer-spin-button,
.product-count input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.product-count:not(.bag-count) button:hover {
    background-color: #c8c8c8b3;
}

.product-img {
    position: relative;
}

.banner-text {
    position: absolute;
    z-index: 5;
    top: 48%;
    right: 17%;
    text-transform: uppercase;
    width: 60%;
    opacity: 1;
}

.banner-text span {
    opacity: 1;
    background-color: #00000069;
}

.product-banner {
    position: absolute;
    top: -27%;
    right: -22%;
}

.banner-hover {
    position: absolute;
    top: -5%;
    right: 0%;
    opacity: 0;
}

.banner-hover .banner-text {
    transform: rotate(0);
    top: 43%;
}

.product-banner img,
.banner-text {
    transform: rotate(35deg);
}

.product-container:hover {
    cursor: pointer;
    background-color: #ededed0f;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.product-container img {
    opacity: 1;
}

.product-container:hover .product-img {
    opacity: 0.2;
}

.product-container:hover .product-overlay {
    opacity: 1;
}

.product-container:hover .banner-hover {
    opacity: 1;
}

.product-container:hover .banner-hover img {
    opacity: 1;
}

.product-overlay {
    position: absolute;
    opacity: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.product-overlay div:nth-child(1) {
    position: relative;
}

.product-overlay form:nth-child(2) {
    position: relative;
}

.pagination {
    font-size: large;
}

.pagination a {
    font-weight: bold;
    color: #590243;
}

.pagination a:hover {
    color: #590243;
    text-decoration: underline;
}

/* FILTERS SECTION STYLING */
#navbarTogglerFilters a,
#navbarTogglerFilters a:hover {
    color: #6c757d;
}

#navbarTogglerFilters .dropdown-menu {
    left: 0;
    width: fit-content;
}

.filter-active {
    background-color: #e9ecefab !important;
    border: 1px solid #dee2e6;
}

.filter-active a {
    right: 2%;
    top: 20%;
    color: gray;
}

/* SORT SELECT CONTAINER STYLING */

.sort-select-container .custom-select {
    border: 1px solid #80808066;
}

.custom-select:focus {
    border-color: #80808066;
    outline: 1px solid #80808066;
    box-shadow: none
}


/* FOOD PAIRING LIST STYLING */
.food-pairing-list i {
    color: black;
}

.food-pairing-list img {
    margin-top: -10px;
}

/* REVIEW SECTION STYLING */
#updateReviewForm {
    display: none;
}

.star {
    border: none;
    background-color: transparent;
    font-size: 25px;
    padding: 0;
}

.stars-big .star {
    font-size: 30px;
}

.stars-inactive .star {
    color: rgba(128, 128, 128, 0.4)
}

.rating button:nth-child(1) {
    color: #590243;
}

.rating button:not(:nth-child(1)) {
    color: #80808066;
}

.ratings-generated .star:hover {
    cursor: default;
}

.review-form-container {
    background-color: #f0f0f0;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

/* TOASTS STYLING */

.message-container {
    position: absolute;
    top: 105%;
    right: 45px;
    overflow: visible;
    z-index: 999999999;
}

.message-container:has(> div.toast-bag) {
    top: 52%;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* WISHLIST STYLING */
.wishlist-count {
    position: absolute;
    top: 5%;
    left: 5%;
}

/* NOTIFICATION STYLING */
.notification {
    top: 52%;
    right: 0px;
    height: 16px;
    line-height: 16px;
    width: 16px;
    background-color: #aa0010;
    border-radius: 50%;
    text-align: center;
    font-size: smaller;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 71px;
}

.bag-notification-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-success {
    border-bottom-color: #28a745 !important;
}

/* BAG PAGE STYLING*/
.bag-table {
    border-collapse: separate;
}

/* 403, 404, 500 CUSTOM ERROR PAGES */


#custom-error {
    position: relative;
    height: 100vh;
    background-color: #222;
    color: white;
}

#custom-error .custom-error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.custom-error {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.custom-error .error-logo {
    height: 220px;
    line-height: 220px;
}

.custom-error .error-logo h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #590243;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.custom-error p {
    font-size: 16px;
    font-weight: 400;
}

.custom-error a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: 2px solid white;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.2s all;
}

.custom-error a:hover {
    color:#adb5bd;
    border-color: #adb5bd;
}

/* STRIPE ELEMENTS STYLING */

.StripeElement {
    width: 100%;
    border: 1px solid #ced4da;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
    color: #3a3a3a;
} 

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

input::placeholder {
    color: #84898e;
} 

.fieldset-label {
    position: relative;
    right: .5rem;
}

select,
select option {
    color: #3a3a3a;
}

select:invalid,
select option[value=""] {
    color: #84898e !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* CHECKOUT SUCCES PAGE STYLING */
.legend-card{
    position: relative;
    padding: 15px 20px ;
    border-radius: 5px;
    margin-bottom: 20px;
}
.legend-card small{
    position: absolute;
    top: -13px;
    left: 8px;
    background-color: white;
    
}

/* LOADING SPINNER */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #49505794;
    z-index: 9999;
}

.loading-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loading-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .loading-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .loading-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .loading-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .loading-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .loading-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .loading-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .loading-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .loading-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .loading-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .loading-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .loading-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .loading-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .loading-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* --------------------------------- LARGE DEVICES STYLINYG ------------------------------- */

@media (max-width: 1200px) {
    .home-cover {
        height: 85vh;
    }
}

/* --------------------------------- IPAD PRO STYLINYG ------------------------------- */

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {

    .min-vh {
        min-height: 90vh;
    }

    .home-cover {
        height: 36vh;
    }

    .product-container:hover {
        cursor: initial;
        background-color: initial;
        box-shadow: none;
    }

    .product-container:hover img {
        opacity: initial;
    }

    .product-container:hover .product-overlay {
        opacity: 0;
    }

    .product-container>div:last-of-type {
        display: block !important;
    }

    .product-container:hover .banner-hover {
        opacity: 0;
    }

    .product-container:hover .banner-hover img {
        opacity: 0;
    }

    .product-container:hover .product-banner {
        opacity: 1;
    }
}

/* --------------------------------- SMALL AND MEDIUM DEVICES STYLINYG ------------------------------- */

@media (max-width: 991.98px) {
    .min-vh {
        min-height: 90vh;
    }

    .p-side {
        padding: 0;
    }

    /* HEADER STYLING */

    .navigation a,
    .navigation span {
        color: white;
    }

    .navigation {
        padding-left: 15px;
    }

    .navbar {
        padding: 0.5rem 1rem;
    }

    .nav-item i {
        font-size: 25px;
    }

    .navbar-collapse hr {
        border-top: 1px solid rgb(255 255 255 / 60%);
    }

    .navbar-collapse div:nth-of-type(3),
    .navbar-collapse div:nth-of-type(3) div:nth-of-type(2) {
        padding: 0px;
    }

    .dropdown-menu {
        position: initial;
        float: unset;
        background-color: transparent;
        color: white;
        border: none;

    }

    .categories a {
        border: none;
    }

    .categories a:focus,
    .categories a:hover {
        border: none;
    }

    .home-cover {
        height: 36vh;
    }

    button:active {
        transform: translateY(4px);
    }

    .gray-btn:hover {
        background-color: #bcbcbc;
        color: initial;
    }

    .white-btn:hover {
        background-color: white;
        color: initial;
    }

    .purple-btn:hover {
        background-color: #3a012c;
    }

    .product-container:hover {
        cursor: initial;
        background-color: initial;
        box-shadow: none;
    }

    .product-container:hover img {
        opacity: initial;
    }

    .product-container:hover .product-overlay {
        opacity: 0;
    }

    .product-container:hover .banner-hover {
        opacity: 0;
    }

    .product-container:hover .banner-hover img {
        opacity: 0;
    }

    .product-container:hover .product-banner {
        opacity: 1;
    }

    #navbarTogglerFilters {
        background-color: #e9ecefab;
        padding-left: 5px;
    }

    .message-container {
        right: 31px;
    }

    .message-container:has(> div.toast-bag) {
        top: 103%;
        right: auto;
        left: 2%;
    }

    .arrow-up {
        top: -10px;
        right: auto;
        left: 18px;
    }

    .scroll-h {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 35vh;
    }
}

/* --------------------------------- SMALL DEVICES STYLINYG ------------------------------- */

@media (max-width: 767.98px) {

    footer>.col-12 {
        padding: 0px;
    }

    footer>div>div>div:nth-child(1) {
        background-color: #f0f0f0;
        color: #3a3a3a;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    footer .success-message {
        color: #0e8814;
        font-size: smaller;
    }

    footer .errorlist {
        color: #bd2130;
    }

    footer>div>div>div:nth-child(1) form p label::before {
        content: "*";
        color: #bd2130;
    }

    footer i {
        font-size: 30px;
    }

    i {
        font-size: 25px;
    }

    .search-bar .dropdown a i {
        padding-right: 12PX;
    }

    .search-bar .dropdown-menu i {
        margin-top: 4px;
        font-size: 20px;
    }

    .search-bar i {
        margin-top: 0px;
    }

    .home-cover {
        padding-left: 0px;

    }

    .cover-overlay {
        padding-left: 0px;
        width: 80%;
    }

    .auth-content>div>div:nth-child(1) {
        border-right: none;
    }

    .filter-active a {
        top: 8%;
    }

    .message-container {
        right: 20px;
    }

    .arrow-up {
        left: 28px;
    }

    .scroll-h {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 50vh;
    }
}

/* --------------------------------- EXTRA SMALL DEVICES STYLINYG ------------------------------- */

@media (max-width: 380px) {

    .home-cover {
        height: 45vh;
    }

}