<form method="GET" action="{% url 'products' %}">
    <div class="input-group w-100 search-bar">
        <div class="w-100 d-flex justify-content-end">
            <label class="mb-0">
                <span hidden>Search</span>
                <input type="text" name="q" placeholder="Search our site">
            </label>
            <div class="input-group-append">
                <button class="btn rounded-0" type="submit">
                    <span hidden>Submit</span>
                    <span class="icon">
                        <i class="fas fa-search text-light"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
  </form>