{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center bg-floral-responsive card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% trans "Confirm E-mail Address" %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="col-12 button purple-btn mb-2 rounded-0 small-btn" type="submit">{% trans 'Confirm' %}</button>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
      </div>
    </div>
</div>

{% endblock %}
