{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center bg-floral card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% trans "Sign Out" %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="button white-btn" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
</div>

{% endblock %}