{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center  bg-floral-responsive card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto text-left" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            <label for="{{field.auto_id}}">{{ field.label }}</label>
                            {{ field }}
                        </p>
                        {% if field.errors %}
                            {{field.errors}}
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    <div class="col-12 text-center">
                        <button class="col-12 button purple-btn mb-2 rounded-0 small-btn" type="submit">{% trans 'Change password' %}</button>
                      </div>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
                <a class="auth-link" href="{% url 'account_login' %}">&#8249;&#8249; Back to Login page</a>
            {% endif %}
        {% endif %}
      </div>
    </div>
</div> 
    <h1></h1>

    
{% endblock %}
