{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center  bg-floral-responsive card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% trans "Change Password" %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
        <p>{% trans 'Your password is now changed.' %}</p>
        <a class="auth-link" href="{% url 'account_login' %}">&#8249;&#8249; Back to Login page</a>
      </div>
    </div>
</div>     
{% endblock %}
