{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center bg-floral-responsive card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% trans "Password Reset" %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto text-left password_reset" method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% for field in form %}
              <p>
                <label hidden class="text-left" for="{{field.auto_id}}">{{ field.label }}</label>
                {{ field }}
              </p>
              {% if field.errors %}
                {{field.errors}}
              {% endif %}
            {% endfor %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            <div class="col-12 text-center">
              <button class="col-12 button purple-btn mb-2 rounded-0 small-btn" type="submit">{% trans "Reset my password" %}</button>
            </div>
        </form>
    
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
    </div>
</div>     
{% endblock %}
