{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-11 mx-auto pt-3 pb-3 mt-2 mt-md-3 mt-lg-4 mb-4 text-center bg-floral card-shadow">
    <h1 class="mb-3 mb-lg-4 text-center">{% trans "Password Reset" %}</h1>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-0">
        <h1 class="mb-3 mb-lg-4 text-center">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form %}
              <p>
                <label for="{{field.auto_id}}">{{ field.label }}</label>
                {{ field }}
              </p>
              {% if field.errors %}
                {{field.errors}}
              {% endif %}
            {% endfor %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            <button class="button white-btn" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
