{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="auth-content col-lg-11 mx-auto pt-3 pb-3 mt-2 mt-lg-4 mb-4 bg-white">
  <h1 class="mb-3 mb-lg-4 text-center">{% trans "Registration" %}</h1>
  <div class="d-md-flex pt-lg-3">
    <div class="col-12 col-md-6 mb-4 mb-lg-0">
      <div class="col-md-10 p-0 mx-auto">
        <h5 class="text-center font-weight-bold mb-3">New Customer</h5>
        <p>Please complete all the fields to create an account.</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% for field in form %}
            <p>
              <label class="w-100">
                <span hidden>{{ field.label }}</span>
                {{ field }}
              </label>
              
            </p>
            {% if field.errors %}
              {{field.errors}}
            {% endif %}
          {% endfor %}
          {% if form.non_field_errors %}
              {{ form.non_field_errors }}
          {% endif %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="button purple-btn mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6 text-left">
      <div class="col-md-10 p-0 mx-auto">
        <h5 class="text-center font-weight-bold mb-3">Existing Customer</h5>
        <p>{% blocktrans %}If you already have an account on our website, then please <a class="auth-link pulse" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <p>Our website offers a better experience for authenticated users. The main benefits are:</p>
        <ul>
          <li><b>Order history</b>;</li>
          <li><b>Faster checkout</b> by adding your delivery details to your profile;</li>
          <li><b>Wishlist</b> with all of your favourite products;</li>
          <li><b>Live chat</b> for discussing directly with our staff about any problem you encounter on our website.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
