
{% load mathfilters %}
<h4>Order Confirmation</h4>
<p>Hi {{ order.full_name }}</p>
<p>This is a confirmation of your order at The Guilty Grape. See order details below:</p>
<p>Order Number: <b>{{ order.order_number }}</b></p>
<p>Order Date: <b>{{ order.date }}</b></p>
<p>Order Total: <b>{{ order.order_total }}</b></p>
{% if order.discount != 0 %}
<p>Discount: <b>{{ order.discount_value|floatformat:2 }}</b></p>
<p>Subtotal after discount: <b>{{ order.order_total|sub:order.discount_value|floatformat:2 }}</b></p>
{% endif %}
<p>Delivery: <b>{{ order.delivery_cost }}</b></p>
<p>Grand Total: <b>{{ order.grand_total }}</b></p>
<p>Your order will be shipped to {{ order.street_address1 }} in {{ order.town_or_city }}, {{ order.country.name }}.</p>
<p>If you have any questions, feel free to contact us at {{ contact_email }}.</p>
<br>
<p>Sincerely,</p>
<p>The Guilty Grape</p>
