{% extends "base.html" %}
{% load static %}
{% block content %}
{% load urls %}
<div class="main-container col-lg-11 mx-auto pt-3 pb-3 mt-2 mt-lg-4 mb-4 bg-white">
    <!-- ADD PAGE TITLE DEPENDING ON CURRENT CATEGORY -->
    {% if current_category %}
    <h1 class="mb-3 mb-lg-4 text-center">{{current_category.get_friendly_name}}</h1>
    {% elif is_deluxe %}
        <h1 class="mb-3 mb-lg-4 text-center">Deluxe Edition</h1>
    {% else %}
        <h1 class="mb-3 mb-lg-4 text-center">All Products</h1>
    {% endif %}
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
        <div class="col-12 p-0 mx-auto">
            <div class="d-md-flex align-items-baseline justify-content-between mb-2">
                <div class="col-md-6 p-0">
                    <p class="mb-2 mb-md-1">
                        <i class="fas fa-th-large font-size-smaller"></i>
                        <!-- ADD NUMBER OF ITEMS -->
                        <span class="font-weight-bold">{{products|length}} items</span>
                        {% if current_category %}
                        <span> found in <em class="font-weight-bold">{{current_category.get_friendly_name}}</em> collection</span>
                        {% endif %}
                        {% if is_deluxe %}
                        <span> found in <em class="font-weight-bold">Deluxe</em> collection</span>
                        {% endif %}
                        {% if search_term %}
                        <span> found for <q class="font-weight-bold">{{search_term}}</q></span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-4 col-xl-2 pr-0 sort-select-container w-50 p-0">
                    <!-- ADD SORT SELECT -->
                    <select id="sort-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option> 
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="best_sellers" {% if current_sorting == 'best_sellers' %}selected{% endif %}>Best Sellers</option>
                    </select>
                </div>
            </div>
            <!-- ADD RESPONSIVE FILTERS CONTAINERS -->
            <hr class="d-none d-lg-block mb-1 mt-0">
            <div class="navbar navbar-expand-lg navbar-light pl-0">
                <button class="d-lg-none button rounded-0 purple-btn small-btn" type="button" data-toggle="collapse" data-target="#navbarTogglerFilters" aria-controls="navbarTogglerFilters" aria-expanded="false" aria-label="Toggle navigation">
                  Filter
                </button>
                <div class="collapse navbar-collapse d-lg-flex flex-row align-items-start" id="navbarTogglerFilters">
                    <h6 class="col-md-2 col-xl-1 p-0 mb-0 d-none d-lg-block mr-xl-4 text-uppercase font-weight-bold">Filter By</h6>
                    <ul class="col-xl-10 navbar-nav mt-2 mt-lg-0 d-lg-flex flex-wrap">
                        <!-- ADD CATEGORY FILTER IF IT'S NOT ACTIVE -->
                        {% if not current_category and not is_deluxe and not filters_list.category %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Category</span>
                                    <span class="dropdown-toggle"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for category in categories %}
                                    <a class="dropdown-item" href="{{current_url}}category={{category|urlencode}}">{{category.get_friendly_name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD STYLE FILTER FOR DELUXE EDITION IF IT'S NOT ACTIVE -->
                        {% if is_deluxe and not deluxe_style %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Style Of Wine</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for style in deluxe_styles %}
                                    <a class="dropdown-item" href="{{current_url}}style={{style|urlencode}}">{{style}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD GRAPES FILTER IF IT'S NOT ACTIVE -->
                        {% if not filters_list.grapes %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Grape Variety</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for grape in grapes_list %}
                                        <a class="dropdown-item" href="{{current_url}}grapes={{grape|urlencode}}">{{grape}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD YEAR FILTER IF IT'S NOT ACTIVE -->
                        {% if not filters_list.year %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Year</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for year in years_list %}
                                        <a class="dropdown-item" href="{{current_url}}year={{year|urlencode}}">{{year}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD COUNTRY FILTER IF IT'S NOT ACTIVE -->
                        {% if not filters_list.country %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Country</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for country in countries_list %}
                                        <a class="dropdown-item" href="{{current_url}}country={{country|urlencode}}">{{country}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD REGION FILTER IF IT'S NOT ACTIVE -->
                        {% if not filters_list.region %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Region</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for region in regions_list %}
                                        <a class="dropdown-item" href="{{current_url}}region={{region|urlencode}}">{{region}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ADD FOOD PAIRING FILTER IF IT'S NOT ACTIVE -->
                        {% if not filters_list.food_pairing %}
                        <li class="col-md-3 col-xl-2 p-0 nav-item mt-2 mt-lg-0 mr-4 mb-2">
                            <div class="dropdown">
                                <a href="" class="d-flex justify-content-between text-uppercase" data-toggle="dropdown" aria-expanded="false">
                                    <span>Food Pairing</span>
                                    <span class="dropdown-toggle"></span>
                                </a>                                
                                <div class="dropdown-menu dropdown-menu-lg-start">
                                    {% for food in food_pairing_list %}
                                        <a class="dropdown-item" href="{{current_url}}food_pairing={{food|urlencode}}">{{food}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <hr class="d-none d-lg-block mt-0">
            <!-- ADD LIST OF ACTIVE FILTERS -->
            {% if filters_list %}
            <div class="d-flex flex-column-reverse flex-md-row"> 
                <div class="d-flex flex-column-reverse flex-md-row"></div>         
                <a class="col-md-2 col-xl-1 p-0 pt-xl-1 m-0 mr-xl-4" href="{{current_url_no_filters}}"><u>CLEAR ALL</u></a>
                <ul class="col-md-10 mt-2 m-md-0 p-0 d-flex flex-wrap list-unstyled">
                    {% for key, value in filters_list.items %}
                    <li class="mr-2 mb-2">
                        <div class="d-flex p-1 pr-4 position-relative filter-active">
                            <span>{{value}}</span>
                            {% if remove_filter %}
                            <a class="position-absolute" href="{{ current_url_no_filters }}">
                                <span hidden>Clear Filter</span>
                                <i class="fas fa-times"></i>
                            </a>
                            {% else %}
                            <a class="position-absolute" href="{% del_params request.get_full_path key %}">
                                <span hidden>Clear Filter</span>
                                <i class="fas fa-times"></i>
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-12">
        <div class="col-12 p-0 mx-auto">
            <div class="d-flex flex-wrap">
                <!-- ADD LIST OF PRODUCTS -->
                {% for product in products %}
                <!-- ADD LINKED PRODUCT -->
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product-container" onclick='location.href="{% url 'product_detail' product.id %}";'>
                        <!-- ADD PRODUCT COVER DEPENDING ON STOCK VALUE-->
                        {% if product.stock == 0 %}
                        <div class="col-12">
                            {% if product.image %}
                                <img class="img-fluid mb-4 product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid mb-4 product-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            {% endif %}
                            <div class="product-banner col-9">
                                <img class="img-fluid" src="{{ MEDIA_URL }}product-banner.png" alt="Item out of stock">
                                <div class="banner-text text-center text-red">
                                    <span class="d-none d-lg-block font-size-smaller">Out of stock</span>
                                    <span class="d-lg-none">Out of stock</span>
                                </div>
                            </div>
                        </div>   
                        {% elif product.stock == 1 %}
                        <div class="col-12">
                            {% if product.image %}
                                <img class="img-fluid mb-4 product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid mb-4 product-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            {% endif %}
                            <div class="product-banner col-9">
                                <img class="img-fluid" src="{{ MEDIA_URL }}product-banner.png" alt="Last item">
                                <div class="banner-text text-center text-yellow">
                                    <span class="d-none d-lg-block font-size-smaller">Last item</span>
                                    <span class="d-lg-none">Last item</span>
                                </div>
                            </div>
                        </div>  
                        {% elif product.stock <= 15 %}
                            <div class="col-12">
                                {% if product.image %}
                                <img class="img-fluid mb-4 product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid mb-4 product-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            {% endif %}
                                <div class="product-banner col-9 ">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}product-banner.png" alt="Last {{product.stock}} items">
                                    <div class="banner-text text-center text-yellow">
                                        <span class="d-none d-lg-block font-size-smaller">Last {{product.stock}} items</span>
                                        <span class="d-lg-none">Last {{product.stock}} items</span>
                                    </div>
                                </div>
                            </div>   
                        {% else %}
                        <div class="col-12">
                            <!-- ADD PRODUCT COVER -->
                            {% if product.image %}
                                <img class="img-fluid mb-4 product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid mb-4 product-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <!-- ADD PRODUCT DETAILS -->
                            <h6>{{product.name}}</h6>
                            <div class="d-flex align-items-center">
                                <p class="font-italic m-0">{{product.country}} -</p>
                                <p class="m-0"> {{product.year}}</p>
                            </div>
                            <p class="font-weight-bold">€{{product.price}}</p>
                        </div>
                        {% if product.stock != 0 %}
                        <!-- ADD PRODUCT OVERLAY -->
                            <div class="product-overlay col-10 d-none d-xl-block">
                                <!-- ADD STARS CONTAINER WITH THE VALUE OF PRODUCT RATING -->
                                {% if product.rating %}
                                <input type="hidden" name="rate" class="rate" value="{{product.rating}}">
                                <div class="ratings-generated stars-big d-flex align-items-end justify-content-around mb-3"></div>
                                {% else %}
                                <!-- ADD STARS CONTAINER WITH INACTIVE STARS -->
                                <div class="stars-big stars-inactive d-flex align-items-end justify-content-around mb-3">
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                </div> 
                                {% endif %}
                                <!-- ADD TO BAG AND NUMBER OF ITEMS BUTTONS FOR EXTRA LARGE DEVICES-->
                                <form action="{% url 'add_to_bag' product.id %}" class="overlay-form" method="POST">
                                    {% csrf_token %}
                                    <div class="d-flex">
                                        <div class="col-4 p-0 product-count d-flex">
                                            <button type="button" class="font-weight-bold col-4 p-0 button rounded-0 substraction">-</button>
                                            <label class="col-4 p-0 m-0">
                                                <span hidden>Product count</span>
                                                <input readonly class="p-0 text-center rounded-0" name="quantity" type="number" value="1" min="1" max="{{product.stock}}">
                                            </label>
                                            <button type="button" class="font-weight-bold col-4 p-0 button rounded-0 addition">+</button>
                                        </div>
                                        <div class="col-8 p-0">
                                            <button type="submit" class="w-100 button purple-btn rounded-0 small-btn">Add to bag</button>
                                        </div>
                                        <input name="current_url" type="hidden" value="{{ request.path }}">
                                    </div>
                                </form>
                            </div>
                        {% else %}
                        <!-- ADD OUT OF STOCK ITEM -->
                            <div class="banner-hover">
                                <img class="img-fluid" src="{{ MEDIA_URL }}product-banner.png" alt="Out of stock banner">
                                <div class="banner-text text-center text-red">
                                    <span class="d-none d-lg-block font-size-smaller">Sorry, this item is <br> Out of stock</span>
                                    <span class="d-lg-none">Sorry, this item is <br> Out of stock</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- ADD TO BAG AND NUMBER OF ITEMS BUTTONS FOR LARGE MEDIUM AND SMALL DEVICES-->
                    <div class="d-block d-xl-none ">
                        <form action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex">
                                <div class="col-4 p-0 product-count d-flex">
                                    <button type="button" class="font-weight-bold col-4 p-0 button rounded-0 substraction">-</button>
                                    <label class="col-4 p-0 m-0">
                                        <span hidden>Product count</span>
                                        <input readonly class="p-0 text-center rounded-0 font-size-larger" name="quantity" type="number" value="1" min="1" max="{{product.stock}}">
                                    </label>
                                    <button type="button" class="font-weight-bold col-4 p-0 button rounded-0 addition">+</button>
                                </div>
                                <div class="col-8 p-0">
                                    <button type="submit" class="w-100 button purple-btn rounded-0 small-btn">Add to bag</button>
                                </div>
                                <input name="current_url" type="hidden" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ADD SEPARATORS -->
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                {% endif %}    
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                {% endif %}                
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}