{% extends "base.html" %}
{% load static %}
{% block content %}
{% load urls %}
{% load products_filters %}
<div class="main-container col-lg-11 mx-auto pt-3 pb-3 mt-2 mt-lg-4 mb-4 bg-white">
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
        <div class="col-12 p-0 mx-auto">
            <div class="col-xl-10 p-0 mx-auto d-md-flex justify-content-between d-md-row">
              <!-- DISPLAY IMAGE -->
              <div class="col-12 col-md-6 p-0">
                {% if product.image %}
                  <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.style }} wine {{ product.name }}">
                  </a>
                {% else %}
                    <img class="img-fluid" src="{{ MEDIA_URL }}no-image.webp" alt="{{ product.style }} wine {{ product.name }}">
                {% endif %}
              </div>
              <!-- DISPLAY STOCK AVAILABILITY -->
              <div class="col-12 col-md-6 p-0">
                <h1>{{product.name}}</h1>
                <div class="d-md-flex justify-content-between w-100">
                  <h2>€ {{product.price}}</h2>
                  {% if product.stock == 0 %}
                  <p class="text-uppercase bg-black text-red p-1 pl-2 pr-2 wh-fit-content">Out of stock</p>
                  {% elif product.stock == 1 %}
                  <p class="text-uppercase bg-black text-yellow p-1 pl-2 pr-2 wh-fit-content">Last item</p>
                  {% elif product.stock <= 15 %}
                  <p class="text-uppercase bg-black text-yellow p-1 pl-2 pr-2 wh-fit-content">Last {{product.stock}} items</p>
                  {% endif %}
                </div>
                <div>
                  <!-- ADD STARS CONTAINER WITH THE VALUE OF PRODUCT RATING -->
                  {% if product.rating %}
                  <input type="hidden" name="rate" class="rate" value="{{product.rating}}">
                  <div class="ratings-generated stars-disabled stars-big d-flex align-items-end"></div>
                  {% endif %}
                </div>
                <div class="w-100 mt-3">
                  <ul class="p-0">
                    <!-- DISPLAY COUNTRY VALUE -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Country</span>
                      <span class="col-8 p-0 font-italic text-left">---- {{product.country.name}}</span>
                    </li>
                    <!-- DISPLAY REGION VALUE -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Region</span>
                      <span class="col-8 p-0 font-italic text-left">---- {{product.region}}</span>
                    </li>
                    <!-- DISPLAY GRAPES VALUES -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Grapes</span>
                      <span class="col-8 p-0 font-italic">---- {{product.grapes}}</span>
                    </li>
                    <!-- DISPLAY YEAR VALUE -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Year</span>
                      <span class="col-8 p-0 font-italic">---- {{product.year}}</span>
                    </li>
                    <!-- DISPLAY CODE VALUE -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Code</span>
                      <span class="col-8 p-0 font-italic">---- {{product.code}}</span>
                    </li>
                    <!-- DISPLAY STYLE VALUE -->
                    <li class="d-flex justify-content-between mb-2">
                      <span class="col-4 p-0 text-uppercase">Style</span>
                      <span class="col-8 p-0 font-italic">---- {{product.style}}</span>
                    </li>
                  </ul>
                </div>
                <!-- DISPLAY FOOD PAIRING LIST -->
                <p class="p-0 mb-2 font-weight-bold text-uppercase">Food pairing</p>
                <ul class="d-flex flex-wrap list-unstyled food-pairing-list font-size-smaller font-weight-bold">
                  {% with product.food_pairing|split:", " as food_list %}
                    {% for food in food_list %}
                        <li class="font-italic mr-3 mb-2">
                          {% if 'Spicy' in food %}
                            <i class="fas fa-pepper-hot"></i>
                          {% elif 'Cheese' in food %} 
                            <i class="fas fa-cheese"></i>
                          {% elif 'Dessert' in food %} 
                            <i class="fas fa-cookie"></i>
                          {% elif 'Greens' in food %} 
                            <i class="fas fa-seedling"></i>
                          {% elif 'Pizza' in food %} 
                            <i class="fas fa-pizza-slice"></i>
                          {% elif 'Pork' in food %} 
                            <i class="fas fa-bacon"></i>
                          {% elif 'Fish' in food %}
                            <i class="fas fa-fish"></i>
                          {% elif 'Root' in food %}
                            <i class="fas fa-carrot"></i>
                          {% elif 'Lamb' in food %}
                            <img src="{{ MEDIA_URL }}lamb-icon.png" alt="lamb-icon">
                          {% endif %}
                          {{food}}
                        </li>
                    {% endfor %}
                  {% endwith %}
                </ul>
                {% if user.is_authenticated and user.is_superuser %}
                <!-- UPDATE PRODUCT MODAL -->
                <div class="col-12 col-md-8 col-xl-6 p-0">
                  <label>
                    <span hidden>Current product</span>
                    <input hidden id="currentProduct" type="text" value='{{ product.id }}'>
                  </label>
                  <button class="w-100 button purple-btn small-btn rounded-0  mb-3 mb-md-2" data-toggle="modal" data-target="#updateProductModal{{ product.pk }}">Edit product details</button>
                  <div class="modal fade" id="updateProductModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                          <h5 class="modal-title" id="updateProductModalLabel">Update product {{product.code}}</h5>
                          <button type="button" class="modal-close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="POST" action="{% url 'product_update' pk=product.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in update_product_form %}
                              <div class="w-100 mb-3">
                                {% if field.name == 'image' %}
                                  {{ field }}
                                {% elif field.name == 'is_deluxe' %}
                                <div class="custom-control custom-checkbox mt-2">
                                  {{ field }}
                                  <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                </div>
                                {% else %}
                                  <label class="w-100">
                                    {{ field.label }}
                                    {{ field }}
                                  </label>
                                {% endif %}
                                <small class="errorlist"></small>
                              </div> 
                            {% endfor %}
                            <button type="submit" class="button purple-btn rounded-0 font-size-smaller">Update product</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- DELETE PRODUCT MODAL -->
                  <button class="w-100 button gray-btn small-btn rounded-0" data-toggle="modal" data-target="#deleteProductModal{{ product.pk }}">Delete product</button>
                  <div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                          <h5 class="modal-title" id="deleteProductModalLabel">Delete product</h5>
                          <button type="button" class="modal-close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete product with code {{product.code}}</p> 
                        </div>
                        <div class="modal-footer">
                          <form method="post" action="{% url 'product_remove_admin' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                  <!-- PRODUCT COUNT AND ADD TO BAG BUTTON FOR GUEST USERS AND AUTHENTICATED USERS THAT ARE NOT SUPERUSERS -->
                  {% if product.stock > 0 %}
                  <div class="col-12 col-md-8 col-xl-6 p-0">
                    <form action="{% url 'add_to_bag' product.id %}" method="POST">
                      {% csrf_token %}
                      <div class="product-count font-size-larger d-flex mb-3 mb-md-2">
                          <button type="button" class="font-weight-bold col-2 p-0 button rounded-0 substraction">-</button>
                          <label class="col-8 p-0 m-0">
                              <span hidden>Product count</span>
                              <input class="p-0 text-center rounded-0" name="quantity" type="number" value="1" min="1" max="{{product.stock}}">
                          </label>
                          <button type="button" class="font-weight-bold col-2 p-0 button rounded-0 addition">+</button>
                      </div>
                      <button type="submit" class="w-100 button purple-btn small-btn pb-2 pt-2 rounded-0">Add to bag</button>
                      <input name="current_url" type="hidden" value="{{ request.path }}">
                    </form>
                  </div>
                  {% endif %}
                {% endif %} 
                <!-- 'ADD TO WISH LIST' SECTION -->
                {% if user.is_authenticated and not user.is_superuser %}
                  {% if not current_wishlist_line %}
                    <!-- ADD TO WISHLIST FORM -->
                    <form method="POST" action="{% url 'add_wishlist' product.id %}" class="mt-4">
                        {% csrf_token %}
                        <input name="current_url" type="hidden" value="{{ request.path }}">
                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="d-flex align-items-center border-0 bg-transparent text-dark"><i class="far fa-heart mr-1"></i><span>Add to wishlist </span></button> 
                    </form>
                  {% else %}
                    <!-- REMOVE FROM WISHLIST FORM -->
                    <form method="POST" action="{% url 'remove_wishlist' wishlist_id=current_wishlist_line.id %}" class="mt-4">
                        {% csrf_token %}
                        <input name="current_url" type="hidden" value="{{ request.path }}">
                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="d-flex align-items-center border-0 bg-transparent text-dark"><i class="fas fa-heart mr-1"></i><span>Remove from wishlist </span></button> 
                    </form>
                  {% endif %}
                {% elif not user.is_authenticated %}
                <div class="d-flex align-items-center mt-4 ">
                  <i class="far fa-heart mr-1 text-muted"></i>
                  <span class="text-muted">Authenticate to add product to wishlist</span>
                </div>
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="col-xl-10 p-0 mx-auto">
              <!-- REVIEWS -->
              <div  id="reviewsSection" class="d-flex flex-column-reverse justify-content-between flex-xl-row">
                <div class="col-12 col-lg-10 col-xl-7 p-0">
                  <h4 class="mb-3 mb-md-2">Reviews</h4>
                  {% if review_list %}
                    {% for review in review_list %}
                      {% if review.product == product %}
                        <!-- REVIEW CONTAINER -->
                        <div class="d-flex review-container mt-3">
                            <!-- DEFAULT USER IMAGE -->
                            <div class="col-1 p-0 mr-md-2">
                                <img class="img-fluid" src="{{ MEDIA_URL }}user-img.png" alt="user icon">
                            </div>
                            <div class="col-11 col-md-10 p-0" >
                              <div class="d-md-flex justify-content-between align-items-baseline review-header">
                                  <h6 class="col-12 col-md-6 col-lg-6 col-xl-5 m-0 mb-2 p-0"><b>{{ review.author.get_full_name }}</b></h6>
                                  <div class="col-12 col-md-6 col-lg-6 col-xl-7 p-0 d-flex justify-content-between justify-content-md-end align-items-center">
                                      <small>{{ review.date_updated_on }}</small>
                                      <input type="hidden" name="rate" class="rate" value="{{review.rate}}">
                                      <div class="ratings-generated stars-disabled d-flex align-items-end ml-md-2"></div>
                                  </div>    
                              </div>
                                <p class="flex a-start"><q>{{ review.review_text}}</q></p>
                            </div>
                        </div>
                        <hr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                  <!-- INFO  MESSAGE FOR EMPTY REVIEWS LIST -->
                  <p><b>There are no reviews for this product yet.</b></p>
                  {% endif %}
                </div>
                <div class="col-12 col-md-7 col-lg-5 col-xl-4 p-0">
                  <div class="text-left review-form-container mb-3 p-2">
                    {% if user.is_authenticated %}
                      {% if not user.is_superuser %}
                        {% if current_review %}    
                          <p id="reviewExists" hidden></p>
                          <!-- CURRENT USER REVIEW CONTAINER -->
                          <div id="myReview">
                            <h4>Your review</h4>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <input type="hidden" name="rate" class="rate" value="{{current_review.rate}}">
                              <div class="ratings-generated stars-disabled d-flex align-items-end"></div>
                              <small>{{ current_review.date_updated_on }}</small>
                            </div>
                            <p><q>{{ current_review.review_text }}</q></p>                            
                            <button class="button purple-btn small-btn rounded-0" type="button" id="displayUpdateForm">Update</button>
                          </div>
                          <div id="updateReviewForm">
                            <!-- UPDATE REVIEW FORM -->
                            <h4>Update your review</h4>
                            <form class="d-flex flex-column" action="{% url 'update_review' product_id=product.id review_id=current_review.id %}" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="rate" class="rate" value="{{current_review.rate}}">
                              <div class="rating">
                                <button type="button" class="star">★</button>
                                <button type="button" class="star">★</button>
                                <button type="button" class="star">★</button>
                                <button type="button" class="star">★</button>
                                <button type="button" class="star">★</button>
                              </div>  
                              <input type="hidden" id="reviewTextHidden" value="{{ current_review.review_text }}">
                              {% for field in update_review_form %}
                                <label>
                                  <span hidden>{{ field.label }}</span>
                                  {{ field }}
                                </label>
                              {% endfor %}
                              <button type="submit" class="button purple-btn small-btn rounded-0">Submit</button>
                            </form> 
                          </div>  
                        {% else %}
                          <div class="mb-3" id="addReviewForm">
                            <!-- ADDD REVIEW FORM -->
                            <h4>Add your review</h4>
                            <form class="d-flex flex-column" method="POST" action="{% url 'add_review' product.id %}">
                              {% csrf_token %}
                              <div class="d-flex rating">
                                <button type="button" class="star mr-1">★</button>
                                <button type="button" class="star mr-1">★</button>
                                <button type="button" class="star mr-1">★</button>
                                <button type="button" class="star mr-1">★</button>
                                <button type="button" class="star mr-1">★</button>
                              </div>  
                              {% for field in review_form %}
                                <label>
                                  <span hidden>{{ field.label }}</span>
                                  {{ field }}
                                </label>
                              {% endfor %}
                              <button class="button purple-btn small-btn rounded-0" type="submit">Submit</button>
                            </form> 
                          </div>  
                        {% endif %}            
                      {% else %}
                      <!-- INFO MESSAGE FOR ADMIN USERS -->
                        <h4>You are logged in as an admin</h4>
                        <p><b>As an admin member, you can only read the reviews.</b></p>
                      {% endif %}
                    {% else %}
                        <!-- INFO MESSAGE FOR GUEST USERS -->
                        <h4>You are not logged in</h4>
                        <p><b>If you want to add or edit your review, please <span><a class="auth-link pulse" href="{% url 'account_login' %}"><b>LOGIN</b></a> / <a  class="auth-link pulse" href="{% url 'account_signup' %}"><b>REGISTER</b></b></a></span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}